---
const { ...invite } = Astro.props;
---

<div class="border-2 border-[rgba(75,30,133,0.5)] rounded-[1.5em] bg-gradient-to-br from-pink-500 to-pink-100 text-white font-nunito p-[1em] flex flex-col items-center overflow-hidden transition-all duration-300 ease-in-out w-[14em] h-[20em] mt-20">
    
    <div class="w-full h-[12em] overflow-hidden rounded-t-[1.3em] flex justify-center items-center">
        <img 
            src={invite.imageUrl} 
            alt={invite.nom} 
            class="w-full h-full object-contain"
        />
    </div>

    <h1 class="text-[1.2em] font-medium text-center mt-2 px-2">
        {invite.nom}
        {invite.prenom}
    </h1>

    <p class="text-center text-sm px-2">{invite.profession}</p>

    <a href={`/invite/${invite.id}`} class="text-red-500 underline mt-auto mb-2">Voir plus</a>
</div>
